<!DOCTYPE html>

<%- include('../../partials/header'); %>

<body>
    <%- include('../../partials/navbar'); %>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h2>Categorias</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Slug</th>
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(category => { %> 
                            <tr>
                                <td><%= category.id %></td>
                                <td><%= category.title %></td>
                                <td><%= category.slug %></td>
                                <td>
                                    <a href="/">
                                        <span class="material-symbols-outlined">edit</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="/">
                                        <span class="material-symbols-outlined">delete</span>
                                    </a>
                                </td>
                            </tr>
                        <% }) %> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<%- include('../../partials/footer'); %>

</html>